.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cartInner {
    padding: 20px;
    border-radius: 16px;
    background-color: aquamarine;
    cursor: pointer;
}