:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.header {
  margin: 0 auto;
  width: 100%;
}

.headerContainer {
  max-width: 1300px;
  width: 250px;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0 10px #ccc;
  padding: 10px;
}

.navLink  {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 10px 20px;  
  border-radius: 8px;
  color: black;
  text-align: start;
}

.navLink:hover {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: aqua;
}

.content {
  margin-left: 250px;
  padding: 40px;
}

